body {
    margin: 0%;
    padding: 0%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 31%, rgba(229, 214, 43, 1) 90%, rgba(235, 220, 44, 1) 100%);


}

html {
    scroll-behavior: smooth;
}


.header .logo {
    width: 200px;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    margin-left: 30px;


}

.logo {
    width: 200px;
    /* Define a largura da logo */
    margin-left: 13px;
    /* Adiciona margem à esquerda */
    display: flex;
    /* Usa flexbox para alinhar itens */
    justify-content: space-between;
    /* Distribui o espaço entre os itens */
    padding: 0;
    /* Remove o preenchimento */
    margin: 0;
    /* Remove a margem */
}

/* Estilos para o link da logo */
.logo1 {
    display: block;
    /* Faz o link se comportar como bloco */
}

/* Estilos para a imagem da logo */
.logo1 img {
    width: 100%;
    /* Garante que a imagem ocupe toda a largura do link */
    height: auto;
    /* Mantém a proporção da altura automaticamente */
}



.header {
    display: flex;
    background-color: rgb(73, 73, 5);
    ;
    height: 90px;
    justify-content: space-between;
    border-bottom: 2px solid white;
}

.navbar {
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    width: 20%;
    margin-left: -10%;
}

ul.navbar li {
    display: inline-block;
    /* margin-right: 40px; */
    color: white;
    text-decoration: underline;


}

ul.navbar li:hover {
    color: #ffbf00;
    cursor: pointer;
}


.User{
    font-size: 20px;
    display: flex;
    align-items: center;
    color: white;
    margin-right: 10px
}



.premiações{

    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4%;
    gap: 12%;
    margin-left: 100px;
    margin: 0px;
    padding: 90px;
}

.txtPremiações{
    display: flex;
    flex-direction: column;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    text-align: justify;
    margin-top: -5%;
    padding: 50px;
    border-radius: 20px;
    width: 80%;
    height: 90%;
    background-color: rgba(0, 0, 0, 0.7);
    border-bottom: 5px solid white;
    align-items: center;
    text-decoration: rgb(0, 0, 2);
   
}

img {
    width: 700px;
    height: 600px;
    border-radius: 5%;


}